@import url("themes/Dracula/colors.css");

* {
  font-family: "MonaspiceXe Nerd Font";
  font-size: 13px;
  font-weight: 900;
  border: none;
  border-radius: 0;
  min-height: 0;
}

window#waybar {
  background: @background-darker;
}

#custom-arch {
  margin: 0em 0em 0em 1em;
  color: @cyan;
}

/*#syslockoff {
  background: @accent_color;
  margin: 0em 2em 0em 0em;
  padding: 0em 1em 0em 0.5em;
  color: @foreground;
}*/

/*#custom-poweroff {
  font-size: 18px;
  margin: 0em 0.5em 0em 0.5em;
}

#custom-screenlock {
  font-size: 16px;
  margin: 0em 0.2em 0em 0.5em;
  padding: 0em 0.1em;
}*/

#disk {
  margin: 0em 2em 0em 1em;
  color: @cyan;
}

#workspaces {
  margin: 0em 0.5em;
}

#workspaces button {
  padding: 0.3em 0.5em;
  color: @foreground;
}

#workspaces button.empty {
  color: @comment;
}

#workspaces button.active {
  font-size: 10px;
  color: @pink;
}

#workspaces button.urgent {
  background: @warning_color;
}

#cpu,
#memory,
#temperature,
#backlight {
  padding: 0em 0.5em;
}

#cpu,
#memory,
#temperature {
  color: @purple;
}

#backlight {
  color: @yellow;
}

#pulseaudio {
  padding: 0em 0.5em 0em 0em;
  color: @purple;
}

#pulseaudio.muted {
  font-size: 18px;
  color: @comment;
}

#tray {
  margin: 0em 0.5em;
  padding: 0em 0.5em;
}

#tray menu {
  border: 2px solid @purple;
  border-radius: 5px;
  color: @cyan;
}

#tray>.active {
  color: @cyan;
}

#battery {
  color: @comment;
}

#battery.discharging,
#battery.discharging.good {
  color: @purple;
}

#battery.discharging.warning {
  color: @orange;
}

#battery.discharging.critical {
  color: @red;
}

#battery.charging {
  color: @green;
}

#clock {
  margin: 0em 1em 0em 0em;
  color: @purple;
}

#custom-office {
  font-size: large;
  color: @cyan;
}
