@import url("./Cyberpunk_1.css");
* {
  border: 0;
  border-radius: 0;
  font-size: 13px;
  padding: 1px;
  margin: 0;
}

window#waybar {
  background: transparent;
}

window#waybar.hidden {
  opacity: 0;
}

window#waybar.fullscreen {
  opacity: 0;
}

#waybar.empty #window {
  background: none;
  border: none;
}

#window,
#clock,
#custom-power,
#cpu,
#memory,
#battery,
#network,
#backlight,
#disk,
#bluetooth,
#pulseaudio,
#temperature {
  border: 2px solid @cursor;
  padding: 0 10px;
  background-color: @background;
  color: @cursor;
  margin: 0 5px;
}

#workspaces button {
  border: 2px solid @cursor;
  border-radius: 10px;
  padding: 0 10px;
  margin: 0 3px;
}

#workspaces button.active {
  background-color: @color9;
  border: 2px solid @color9;
  color: @foreground;
}

#temperature {
  border-bottom-left-radius: 20px;
}

#backlight {
  border-top-right-radius: 20px;
}

#custom-power {
  border-top-left-radius: 20px;
}

#window {
  border-bottom-right-radius: 20px;
}

#clock,
#disk,
#cpu,
#memory,
#battery,
#bluetooth,
#pulseaudio,
#network {
  border-radius: 0px;
}
