@import url("./dark-theme.css");

* {
    border: 0;
    border-radius: 0;
    font-size: 14px;
    padding: 1px;
    margin: 0;
    font-family: VictorMono Nerd Font;
}

window#waybar {
    background-color: transparent;
}

window#waybar.hidden {
    opacity: 0;
}

window#waybar.fullscreen {
    opacity: 0;
}

#cpu,
#memory,
#pulseaudio,
#bluetooth,
#backlight,
#clock,
#custom-arch,
#tray,
#battery {
    background-color: @background;
    color: @foreground;
    padding: 0px 10px;
    border: 2px solid @foreground-dark;
    border-radius: 5px;
}

#pulseaudio.muted,
#workspaces,
#network,
#disk {
    background-color: @background;
    color: @foreground;
    padding: 0px 18px 0px 12px;
    border: 2px solid @foreground-dark;
    border-radius: 5px;
}

#workspaces button {
    color: @color2;
    padding: 0px 5px;
}

#workspaces button.active {
    color: @foreground;
}

#workspaces button.urgent {
    color: @color1;
}

#disk {
    color: @color11;
    font-size: 20px;
}

#tray menu {
    border: 1px solid @foreground;
    border-radius: 4px;
}
