@import url("./rosepine.css");

* {
    border: 0;
    border-radius: 0;
    font-size: 14px;
    padding: 1px;
    margin: 0;
    font-family: JetBrainsMono Nerd Font;
}

window#waybar {
    background-color: @base;
}

window#waybar.hidden {
    opacity: 0;
}

window#waybar.fullscreen {
    opacity: 0;
}

#custom-arch,
#tray,
#cpu,
#memory,
#clock,
#battery {
    padding: 0;
}

#pulseaudio {
    padding-right: 6px;
}

#custom-arch {
    margin-left: 10px;
    color: @pine;
}

#disk {
    padding: 0px 11px 0px 5px;
    color: @gold;
}

#workspaces button {
    color: @text;
    padding: 0px 5px 0px 5px;
}

#workspaces button.active {
    background-color: @iris;
    color: @highlightLow;
    padding: 0px 10px 0px 10px;
}

#workspaces button.urgent {
    background-color: @love;
}

#custom-onlyoffice,
#custom-stremio,
#custom-spotube {
    margin: 0;
    padding: 0px 11px 0px 6px;
}

#custom-onlyoffice:hover,
#custom-stremio:hover,
#custom-spotube:hover {
    background-color: @muted;
    color: @text;
}

#window {
    color: @foam;
}

#tray menu {
    border: 1px solid @foreground;
    border-radius: 6px;
}

#tray>.active {
    color: black;
}

#tray>.passive {
    color: grey;
}

#clock {
    font-weight: bolder;
    font-size: 14px;
    padding: 0 10px 0 10px;
    background-color: @foam;
    color: @highlightMed;
}

#custom-separator {
    color: @subtle;
    padding: 0;
    margin: 0;
}
