@import url("themes/Spider-Man/colors.css");

* {
  font-family: MonaspiceXe Nerd Font;
  font-size: 13px;
  font-weight: 900;
  border: none;
  border-radius: 0;
  min-height: 0;
}

window#waybar {
  background: @background;
}

#syslockoff {
  background: @accent_color;
  margin: 0em 2em 0em 0em;
  padding: 0em 1em 0em 0.5em;
  color: @foreground;
}

#custom-poweroff {
  font-size: 18px;
  margin: 0em 0.5em 0em 0.5em;
}

#custom-screenlock {
  font-size: 16px;
  margin: 0em 0.2em 0em 0.5em;
  padding: 0em 0.1em;
}

#disk {
  margin: 0em 0em 0em 1.5em;
}

#workspaces {
  margin: 0em 1em;
}

#workspaces button {
  padding: 0.3em 0.5em;
  color: @foreground;
}

#workspaces button.empty {
  color: @color8;
}

#workspaces button.active {
  font-size: 14px;
  background: @color4;
  color: @foreground;
  padding: 0em 1em;
}

#workspaces button.urgent {
  background: @warning_color;
}

#custom-finder,
#custom-drive,
#custom-browser {
  margin: 0em 1em;
}

#hardware1 {
  margin: 0em 0em;
}

#hardware2 {
  margin: 0em 0em;
}

#cpu,
#memory,
#temperature,
#backlight,
#battery {
  padding: 0em 0.5em;
  color: @foreground;
}

#pulseaudio {
  padding: 0em 0.5em 0em 0em;
}

#tray {
  margin: 0em 0.5em;
  padding: 0em 0.5em;
  background: @success_color;
}

#clock {
  margin: 0em 1em 0em 0em;
}
